/* ## Admin Style
----------------------------------------------------------------------------- */
.rawp-fields {
    margin: 10px 0;
}

.rawp-fields .toggle {
    font-size: 13px;
    padding: 10px;
    margin: 0;
    background: #f1f1f1;
    border: 1px solid #ddd;
}

.rawp-fields .toggle::before {
    font-family:"dashicons";
	display:inline-block;
	vertical-align:middle;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
    content: "\f132";
    transition: all 300ms ease-in-out;
    margin-right: 5px;
}

.rawp-fields .toggle.open::before {
    content: "\f460";
}

.rawp-fields::after {
    content: '';
    display: block;
    clear: both;
}

.rawp-fields label {
    margin-bottom: 5px;
    display: block;
    font-weight: 700;
}

.rawp-fields span {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.rawp-field {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
    background: #fafafa;
}